<!doctype html>
<html>
<head>
  {% load staticfiles %}
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{% static 'gallery/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'gallery/unsemantic-grid-responsive.css' %}" />
    <link href='https://fonts.googleapis.com/css?family=Special+Elite' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    	<link rel="stylesheet" type="text/css" href="{% static 'gallery/oldie.css' %}" />
    <![endif]-->
    <script src="{% static 'jquery-1.12.0.min.js' %}"></script>
    <script src="{% static 'jquery.row-grid.min.js' %}"></script>

    
    <title>Leodis Collections: {% block page_title %} {% endblock %} </title>    
    
    {% block extra_head %}
    {% endblock %}

</head>
<body>

    {% block header %}
        <div id="header">
          <div class="left_header">
            <a href="/">
              <span class="logo"><img src="{% static 'logo.png' %}" /></span>
              <span class="title">
                Leodis Collections
              </span>
            </a>
          </div>
          <div class="right_header">
            <ul id="nav">
              <li class="nav-item"><a href="/about">About</a></li> 
              <li class="nav-item"><a href="http://www.leodis.net">Leodis.net</a></li> 
              <li class="nav-item"><a href="http://www.leeds.gov.uk/leisure/Pages/Libraries.aspx">Leeds Libraries</a></li>
            </ul>
          </div>
          <div class="mobile_header">
            <ul id="nav">
              <li class="nav-item"><a href="/about">About</a></li> 
              <li class="nav-item"><a href="http://www.leodis.net">Leodis.net</a></li> 
              <li class="nav-item"><a href="http://www.leeds.gov.uk/leisure/Pages/Libraries.aspx">Leeds Libraries</a></li>
            </ul>
          </div>
        </div>
    {% endblock %}
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    {% block footer %}
        <div id="footer" class="grid-100">
            <div class="footerText grid-50 mobile-grid-100">
              © Leeds Library and Information Service, Leeds City Council.
          </div>
            <div class="footerLogos grid-50 mobile-grid-100" >
              <img src="{% static 'leeds_libraries_logo_sml.png' %}" />
              <img src="{% static 'crest150.gif' %}" /> 
            
          </div>
        </div>
    {% endblock %}
  <!-- social and analytics -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5682bcc5b93c79d1" async="async"></script>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-71817753-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- social and analytics -->
</body>

</html>
